:root {
  line-sizing: normal;

  --heading-color: red;
  --duration: 0.5s;
  --timing: ease;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  transition:
    color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);
  font-family: sans-serif;
  font-size: 12pt;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
}

main {
  margin: 1rem;
  max-width: 30rem;
  position: relative;
}

h1 {
  color: var(--heading-color);
  text-shadow: 0.1rem 0.1rem 0.1rem var(--shadow-color);
  transition: text-shadow var(--duration) var(--timing);
}

img {
  max-width: 100%;
  height: auto;
  transition: filter var(--duration) var(--timing);
}

p {
  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

fieldset {
  border: solid 0.1rem;
  box-shadow: 0.1rem 0.1rem 0.1rem var(--shadow-color);
  transition: box-shadow var(--duration) var(--timing);
}

div {
  padding: 0.5rem;
}

#content select,
#content button,
#content input[type="text"],
#content input[type="search"] {
  width: 15rem;
}

dark-mode-toggle {
  --dark-mode-toggle-dark-icon: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/198/waning-crescent-moon-symbol_1f318.png");
  --dark-mode-toggle-light-icon: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/198/sun-with-face_1f31e.png");
  --dark-mode-toggle-legend-font: bold 0.85rem 'Helvetica';
  --dark-mode-toggle-label-font: 0.75rem 'Helvetica';
  --dark-mode-toggle-color: var(--text-color);
  --dark-mode-toggle-background-color: var(--background-color);

  position: absolute;
  right: 1rem;
}

dark-mode-toggle#dmt1 {
  top: 1rem;
}

dark-mode-toggle#dmt2 {
  top: 4rem;
}

dark-mode-toggle#dmt3 {
  --dark-mode-toggle-active-mode-color: var(--accent-color);

  top: 9rem;
}
